@import '../../variables.scss';

.History {
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
    border: 2px solid $secondary-text;
    border-radius: 7px;
    padding: 7px;

    // &:nth-child(even) {
    //   background-color: rgba($color: $link-color, $alpha: 0.3);
    // }

    table {
      width: 100%;

      tr {
        text-transform: capitalize;

        &:nth-child(even) {
          background-color: lighten($color: $link-color, $amount: 25);
        }

        & > td:nth-child(even) {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
