@import '../../variables.scss';

.Logs {
  width: 100%;
  margin-bottom: 7px;

  thead {
    text-align: left;
    text-transform: uppercase;
    background-color: $link-color;

    th {
      border-bottom: 3px solid #333;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: lighten($color: $link-color, $amount: 25);
    }
  }
}
